<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Armour Name"/>
            </h1>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="details">Details</a>
        <a class="item" data-tab="description">Description</a>
    </nav>

    <section class="sheet-body">
        <!-- Details Tab -->
        <div class="tab" data-group="primary" data-tab="details">
            <div class="form-group-vertical">
                <div class="form-field-line">
                    <label>Armour Type</label>
                    <input type="text" name="system.armourType" value="{{system.armourType}}" placeholder="e.g. Leather, Chainmail, Plate"/>
                </div>

                <div class="form-field-line">
                    <label>Availability</label>
                    <input type="text" name="system.availability" value="{{system.availability}}" placeholder="e.g., Common, Scarce, Rare"/>
                </div>

                <div class="form-field-line">
                    <label>Cost (gc)</label>
                    <input type="number" name="system.cost" value="{{system.cost}}" min="0" data-dtype="Number"/>
                </div>

                <div class="form-field-line">
                    <label>Encumbrance</label>
                    <input type="number" name="system.encumbrance" value="{{system.encumbrance}}" min="0" data-dtype="Number"/>
                </div>

                <div class="section-divider">
                    <h3>Armour Protection by Location</h3>
                </div>

                <div class="form-field-line">
                    <label>Head</label>
                    <input type="number" name="system.head" value="{{system.head}}" min="0" data-dtype="Number"/>
                </div>

                <div class="form-field-line">
                    <label>Left Arm</label>
                    <input type="number" name="system.armLeft" value="{{system.armLeft}}" min="0" data-dtype="Number"/>
                </div>

                <div class="form-field-line">
                    <label>Right Arm</label>
                    <input type="number" name="system.armRight" value="{{system.armRight}}" min="0" data-dtype="Number"/>
                </div>

                <div class="form-field-line">
                    <label>Body</label>
                    <input type="number" name="system.body" value="{{system.body}}" min="0" data-dtype="Number"/>
                </div>

                <div class="form-field-line">
                    <label>Left Leg</label>
                    <input type="number" name="system.legLeft" value="{{system.legLeft}}" min="0" data-dtype="Number"/>
                </div>

                <div class="form-field-line">
                    <label>Right Leg</label>
                    <input type="number" name="system.legRight" value="{{system.legRight}}" min="0" data-dtype="Number"/>
                </div>
            </div>
        </div>

        <!-- Description Tab -->
        <div class="tab" data-group="primary" data-tab="description">
            <div class="editor-container">
                {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
            </div>
        </div>
    </section>
</form>